:root {
    --font-family-primary: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --primary-color: #404565;
    --secondary-color: #805883;
    --third-color: #C46B89;
    --forth-color: #F78B7B;
    --fifth-color: #FFBD68;
    --sixth-color:#F9F871;
    --correct-color:#268986;
    --wrong-color: #C46B89;
}

body,
html {
    height: 100vh;
    margin: 0;
    font-family: var(--font-family-primary)
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

button {
    font-family: var(--font-family-primary);
}

/* .initial-page {
    text-align: center;
} */

.initial-page button {
    padding: 15px 30px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}

.question-unit {
    width: 600px;
}

.question-unit-options {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.question-unit-options button {
    border: 1px solid var(--secondary-color);
    padding: 5px 10px;
    border-radius: 50px;
    color: var(--secondary-color);
}