:root {
    --font-family-primary: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --primary-color: #404565;
    --secondary-color: #805883;
    --third-color: #C46B89;
    --forth-color: #F78B7B;
    --fifth-color: #FFBD68;
    --sixth-color: #F9F871;
    --correct-color: #268986c2;
    --wrong-color: #c46b895d;
}

body,
html {
    height: 100vh;
    margin: 0;
    font-family: var(--font-family-primary);

}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

button {
    font-family: var(--font-family-primary);
    cursor: pointer;
    font-weight: 900;
}

hr {
    border: 0;
    height: 1px;
    background: var(--secondary-color);
    background-image: linear-gradient(to right, #ccc, var(--secondary-color), #ccc);
}

.initial-page {
    color: var(--primary-color);
}

.question-unit {
    padding: 10px;
    color: var(--secondary-color);
    width: 1000px;
}

.question-unit-options {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 20px;
}

.question-unit-options button {
    padding: 10px 20px;
    border-radius: 50px;
}

.btn-main {
    padding: 15px 30px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 1.2em;
}

.btn-normal {
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
}

.btn-selected {
    background-color: var(--secondary-color);
    color: white;
}

.btn-null {
    border: none;
    color: var(--secondary-color);
}

.btn-correct {
    border: none;
    background-color: var(--correct-color);
    color: white;
}

.btn-incorrect {
    border: none;
    background-color: var(--wrong-color);
    color: var(--secondary-color);
}